body {
    background-image: url("kkkkkkkkkkk.png");
    background-repeat: repeat;
    background-size: 150px; /* você pode ajustar o tamanho conforme necessário */
    background-color: #8B0000; /* vermelho escuro de base */
    color: white; /* texto branco para contraste */
    font-family: 'Arial', sans-serif;
  }